/* ===================================== 
   Public API Request
======================================== */

@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
	box-sizing: border-box;
}
a {
    text-decoration: none;
}

html, body {
    width: 100%;
    max-width: 100%;
}

body {
    font-family: "Nunito", sans-serif;
    text-align: center;
    background: rgba(235, 235, 235, 0.9);
}

header {
    padding: 15px 5px 5px;
}

.header-inner-container {
    max-width: 1180px;
    margin: auto;
}

header h1 {
    font-size: 1.25em;
    color: rgba(50, 50, 50, 0.9);
    margin-top: 35px;
}

.search-input {
    padding: 0.4rem 1rem;
    border: 1px solid rgba(200, 200, 200, 0.9);
    border-radius: 0.25rem 0 0 0.25rem ;
    max-width: 20rem;
    transition: .4s ease-out;
    outline: none;
}

.search-input:active, .search-input:hover, .search-input:focus {
    border: 1px solid rgba(50, 50, 50, 0.9);
}

.search-submit {
    cursor: pointer;
    height: 33px;
    background: rgba(245, 245, 245, 0.9);
    border-radius: 0 0.25rem 0.25rem 0;
    border: 1px solid rgba(200, 200, 200, 0.9);
    transition: .4s ease-out;
    outline: none;
}

.search-submit:active, .search-submit:hover, .search-submit:focus {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(50, 50, 50, 0.9);
}


/* =====================================
   Gallery
======================================== */

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    max-width: 360px;
    margin: 10px 10px 20px;
    padding: 10px;
    background: rgba(245, 245, 245, 0.9);
    border-radius: 0.25em;
    border: 1px solid rgba(50, 50, 50, 0.3);
    transition: .4s ease-out;
    overflow: hidden;
}

.card-img {
    width: 95px;
    margin: 10px 15px auto 10px;
    border-radius: 50%;
}

.card-info-container {
    text-align: left;
}

.card-name {
    margin: 20px auto 0;
}

.card-text {
    font-size: 0.9em;
    color: rgba(50, 50, 50, 0.7);
    margin: 7px auto;
    transition: .4s ease-out;
}

.cap {
    text-transform: capitalize;
}


/* =====================================
   Modal
======================================== */

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
}

.modal {
    display: none;
    position: fixed;
    z-index: 100000;
    padding-top: 100px;
    left: 40%;
    top: 0;
    width: 30%;
    height: 90%;
    overflow: auto;
    background: rgb(125, 129, 143);
    margin: 0 auto;
    
}

.picture {
    position: relative;
    right: 36px;
}

.modal-name {
    margin-bottom: 5px;
}

.modal-text {
    color: rgba(50, 50, 50, 0.7);
    margin: 10px;
}

.modal hr {
    width: 75%;
    margin: 25px auto 30px;
    border-color: rgba(200, 200, 200, 0.2);
}

.modal-btn-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 95%;
    max-width: 420px;
    padding: 10px 15px 15px;;
    margin: 10px auto auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
}


.modal-btn-container .btn {
    display: inline-block;
    cursor: pointer;
    font-size: 0.85em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.9);
    padding: 0.75em 1.5em;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0.35em;
    transition: .4s ease-out;
    outline: none;
  }

  .modal-content {
      margin: 0 auto;
      display: block;
      width: 80%;
      max-width: 700px;
  }

  .overlay {
    position: fixed;
    height: 100%;
    width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99999;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	cursor: pointer;
  }
  .fas.fa-arrow-left,
  .fas.fa-arrow-right {
      display: inline-block;
      font-size: 200%;
      color: #222;
      position: relative;
      top: 300px;
  }

  .fas.fa-times {
      color: red;
      position: relative;
      bottom: 190px;
      left: 260px;
  }
  .fas.fa-arrow-right {
      left: 30%
  }
  #myModal {
      position: relative;
      left: 50% !important;
  }

/* =====================================
   Media Queries
======================================== */

/* =====================================
   Tablet
======================================== */

@media (min-width: 768px) {
    .header-inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding-right: 25px;
        padding-left: 25px;
    }

    .header-text-container {
        text-align: left;
    }

    .search-container {
        margin-top: 25px;
    }

    .modal {
        margin-top: 100px;
    }
}


/* =====================================
   Desktop
   Hover styles on desktop
======================================== */

@media (min-width: 1024px) {

    .card:hover {
        background: rgba(255, 255, 255, 1);
        border: 1px solid rgba(50, 50, 50, 0.9);
    }

    .card:hover .card-text {
        color: rgba(25, 25, 25, 1);
    }

    .btn:hover {
        background: rgba(255, 255, 255, 1);
        color: rgba(25, 25, 25, 1);
    }
}
html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body {
    background: linear-gradient(130deg, rgba(42, 69, 99, 0.72), rgba(200, 204, 210, 0.67));
    -webkit-background: linear-gradient(130deg, rgba(42, 69, 99, 0.72), rgba(200, 204, 210, 0.67));
    -moz-background: linear-gradient(130deg, rgba(42, 69, 99, 0.72), rgba(200, 204, 210, 0.67));
    -ms-background: linear-gradient(130deg, rgba(42, 69, 99, 0.72), rgba(200, 204, 210, 0.67));
}
#employee-section {
    height: 100%;
    width: 100%;
    display: inline-block;
    border: 2px solid rgba(100,100,100,0.5);
}
td {
    height: 190px;
    width: 400px;
    display: inline-block;
    padding: 20px 10px;
    margin: 1% 1%;
    border-radius: 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    background: linear-gradient(125deg, rgba(250, 250, 250, 0.1), rgba(125, 129, 143, 0.41));
    -webkit-background: linear-gradient(125deg, rgba(250, 250, 250, 0.1), rgba(125, 129, 143, 0.41));
    -moz-background: linear-gradient(125deg, rgba(250, 250, 250, 0.1), rgba(125, 129, 143, 0.41));
    -ms-background: linear-gradient(125deg, rgba(250, 250, 250, 0.1), rgba(125, 129, 143, 0.41));
}
img.profile-picture {
    display: inline-block;
    position: relative;
    top: 33.5px;
    left: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
}

.contact-info {
    clear: both;
    float: right;
    text-align: center;
}
input.search {
    width: 350px;
    color: #000;
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.6rem;
    margin: 0 auto;
    display: inline;
    padding: 10px 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
}
#reset,
#search {
    width: 150px;
    height: 55px;
    display: inline;
    margin: 0 auto;
    box-shadow: 4px 4px 10px 0.8px #222;
    -webkit-box-shadow: 4px 4px 10px 0.8px #222;
    -moz-box-shadow: 4px 4px 10px 0.8px #222;
    -ms-box-shadow: 4px 4px 10px 0.8px #222;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;

}


.searchBarDiv {
    display: inline-block;
    padding: 50px 0;
}